<div class="grid">
  <div class="col-12">
    <div
      class="flex
        justify-content-center
        align-content-center
        text-align-center"
    >

      <form [formGroup]="this.loginForm" *ngIf="this.loginCard" (ngSubmit)="this.onSubmitLoginForm($event)">
        <p-card
          styleClass="mt-10"
          header="Login"
          subheader="Faça login com sua conta existente!"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input type="email" pInputText placeholder="Email" formControlName="mail"/>
          </div>

          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input type="password" pInputText placeholder="Senha" formControlName="pass"/>
          </div>

          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Login" [disabled]="!this.loginForm.valid"></button>
          </div>

          <span (click)="this.handler.toggleForm(false)" class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold">
            Criar Conta
          </span>

        </p-card>
      </form>


      <form [formGroup]="this.createUserForm" *ngIf="!this.loginCard" (ngSubmit)="this.onSubmitCreateUserForm($event)">
        <p-card
          styleClass="mt-10"
          header="Criar conta"
          subheader="Crie ja sua conta!"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input type="text" pInputText placeholder="Nome" formControlName="name"/>
          </div>

          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input type="email" pInputText placeholder="Email" formControlName="mail"/>
          </div>

          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input type="password" pInputText placeholder="Senha" formControlName="pass"/>
          </div>

          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Criar conta" [disabled]="!this.createUserForm.valid"></button>
          </div>

          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
            (click)="this.handler.toggleForm(true)"
          >
            Fazer login
          </span>

        </p-card>
      </form>

    </div>
  </div>
</div>
