
<p-toolbar styleClass="bg-indigo-800">
  <div class="p-toobar-group-start">
    <p-button
      icon="pi pi-home"
      label="Dashboard"
      routerLink="/dashboard"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
    />
  </div>

  <div class="p-toobar-group-center">
    <p-button
      icon="pi pi-card-plus"
      label="Produtos"
      routerLink="/products"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    />

    <p-button
      icon="pi pi-ticket"
      label="Categorias"
      routerLink="/categories"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    />

    <p-button
      icon="pi pi-credit-card"
      label="Efetuar Venda"
      routerLink="/credit"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    />
  </div>

  <div  class="p-toobar-group-end">
    <p-button
      icon="pi pi-sign-out"
      label="Sair"
      styleClass="p-button-danger"
      class="mr-2"
      (onClick)="this.signOut()"
    />
  </div>
</p-toolbar>
